$movie-green: #3cb13e;
$movie-red: #fe3434;
$movie-white: #ffffff;
$movie-lightgrey: #bbb9bc;
$movie-grey: #868686;
$movie-black: #333333;

$movie-pagination-grey: #e7e7e7;
$movie-pagination-lightgrey: #f9f9f9;