.navigation {
    flex: 0 0 16rem;
    background-color: $movie-white;
    box-shadow: 0.8rem 0 1rem -1rem $movie-lightgrey;
    text-align: center;
    color: $movie-grey;
    font-weight: 700;
    &__logo {
        color: $movie-black;
        padding: 2.8rem 0;
        font-size: 2.8rem;
        border-bottom: 0.1rem solid $movie-pagination-grey;
        text-transform: uppercase;
        & span {
            color: $movie-green;
            font-size: 3rem;
            position: relative;
            top: 0.8rem;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__node {
        color: $movie-black;
        padding: 3rem 0;
        border-bottom: 0.1rem solid $movie-pagination-grey;
        transition: 0.4s all;
        &:hover {
            color: $movie-green;
            cursor: pointer;
        }
        &.active {
            color: $movie-green;
        }
    }
    &__icon {
        fill: currentColor;
        height: 4.2rem;
        width: 4.2rem;
        margin-bottom: 1rem;
    }
    &__nodename {
        color: currentColor;
        font-size: 1.4rem;
    }
}

.topnav {
    background-color: $movie-white;
    box-shadow: inset 0.8rem 0 1rem -1rem $movie-lightgrey;
    height: 9rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & button {
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
}