.navigation {
    flex: 0 0 16rem;
    background-color: $movie-white;
    box-shadow: 0.8rem 0 1rem -1rem $movie-lightgrey;
    text-align: center;
    color: $movie-grey;
    font-weight: 700;
    &__logo {
        color: $movie-black;
        height: 9rem;
        padding: 2.8rem 0;
        font-size: 2.8rem;
        border-bottom: 0.1rem solid $movie-pagination-grey;
        text-transform: uppercase;
        & span {
            color: $movie-green;
            font-size: 3rem;
            position: relative;
            top: 0.8rem;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        position:-webkit-sticky; 
        position:sticky; 
        top:0;
    }
    &__node {
        color: $movie-black;
        padding: 3rem 0;
        border-bottom: 0.1rem solid $movie-pagination-grey;
        transition: 0.4s all;
        &:hover {
            color: $movie-green;
            cursor: pointer;
        }
        &.active {
            color: $movie-green;
        }
    }
    &__icon {
        fill: currentColor;
        height: 4.2rem;
        width: 4.2rem;
        margin-bottom: 1rem;
    }
    &__nodename {
        color: currentColor;
        font-size: 1.4rem;
    }
}

.topnav {
    background-color: $movie-white;
    box-shadow: inset 0.8rem 0 1rem -1rem $movie-lightgrey, 0 8px 6px -6px $movie-lightgrey;
    height: 9rem;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__account {
        display: none;
        //display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 2rem;
        & img {
            margin-right: 1.5rem;
            border-radius: 100%;
        }
        & span {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
    & button {
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navigation {
        background-color: $movie-green;
        flex: 1;
        box-shadow: 0 -8px 10px -8px $movie-lightgrey;
        &__logo {
            display: none;
        }
        &__wrapper {
            flex-direction: row;
            justify-content: space-around;
        }
        &__node {
            border: 0;
            color: $movie-white;
            padding: 2rem 0;
            &.active {
                color: $movie-white; 
                font-weight: 700; 
                text-decoration: underline;
            }
            &:hover {
                color: $movie-white;
                cursor: pointer;
            }
        }
        &__icon {
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    .topnav {
        box-shadow: 0 8px 10px -8px $movie-lightgrey;
    }
}

@media screen and (max-width: 767px) {
    .topnav {
        box-shadow: 0 8px 10px -8px $movie-lightgrey;
        height: auto;
        padding: 2rem 2rem 0 2rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: space-between;
        position: relative;
        &__account {
            display: none;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            & img {
                margin-right: 1.5rem;
                border-radius: 100%;
            }
            & span {
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
        &__buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            & button {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .topnav {
        &__buttons button {
            font-size: 1.4rem;
        }
    }
    .navigation {
        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1.5rem;
        }
        &__node {
            padding: 1.5rem 0;
            &.active {
                color: $movie-white;  
            }
        }
        &__icon {
            height: 3rem;
            width: 3rem;
        }
        &__nodename {
            font-weight: 100;
            font-size: 1.2rem;
        }
    }
}