.button {
    border: 0;
    padding: 1.2rem 3.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &--green {
        color: $movie-white;
        background-color: $movie-green;
    }
    &--skeleton {
        background-color: transparent;
        color: $movie-green;
        padding: 1rem 3.3rem;
        border: 0.2rem solid $movie-green;
    }
}