button[disabled] {
    background-color: $movie-lightgrey;
    cursor: not-allowed;
}

.button {
    border: 0;
    padding: 1.2rem 3.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    &--green {
        color: $movie-white;
        background-color: $movie-green;
        &:hover {
            background-color: $movie-grey;
        }
    }
    &--skeleton {
        background-color: transparent;
        color: $movie-green;
        padding: 1rem 3.3rem;
        border: 0.2rem solid $movie-green;
        &:hover {
            background-color: $movie-grey;
            color: $movie-white;
            border: 0.2rem solid $movie-grey;
        }
    }
}