.movieSection {
  padding: 6rem;
  &__title {
    margin-bottom: 2.5rem;
  }
  &__titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.movieCard {
  border-radius: 0.6rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.05), 0 0.5rem 1rem rgba(0,0,0,0.12);
  flex: 0 1 18%;
  margin-bottom: 2.5rem;
  background-color: $movie-white;
  font-size: 1.4rem;
  &__image {
    height: 32rem;
  }
  &__information {
    padding: 1.5rem;
    position: relative;
  }
  &__buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    & button {
      padding: 1rem 0.8rem;
      width: 48%;
      font-size: 1.2rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__title {
    margin: 0 4rem 1.5rem 0;
    height: 4.5rem;
  }
  & .ratingholder {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__imagesrc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.cast {
  margin: 7rem 0;
  &__title {
    margin-bottom: 2rem;
  }
  &__wrapper {
    display: flex;
  }
}

.castCard {
  border-radius: 0.6rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.05), 0 0.5rem 1rem rgba(0,0,0,0.12);
  flex: 0 1 20%;
  margin-right: 6.66666%;
  margin-bottom: 2.5rem;
  background-color: $movie-white;
  text-align: center;
  font-size: 1.4rem;
  &:last-child {
    margin-right: 0;
  }

  &__imageholder {
    width: 100%;
    height: 36rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__info {
    padding: 2rem;
  }
  &__realname {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  &__as {
    font-size: 1.4rem;
    color: $movie-grey;
  }
}

.moreMovies {
  &__title {
    margin-bottom: 2rem;
  }
  &__titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .movieCard {
    flex: 0 1 23%;
    margin-bottom: 2.5rem;
    &__title {
      font-size: 1.6rem;
    }
    &__buttons {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      & button {
        padding: 1rem 0.5rem;
        width: 49%;
        font-size: 1.2rem;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &__information {
      padding: 1rem;
    }
  }
  & .ratingholder {
    height: 3rem;
    width: 3rem;
    &__number {
      font-size: 1.2rem;
    }
  }
}

.cardSearch {
  border-radius: 0.6rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.05), 0 0.5rem 1rem rgba(0,0,0,0.12);
  flex: 0 1 18%;
  margin-bottom: 2.5rem;
  background-color: $movie-white;
  font-size: 1.4rem;
  &__imageholder {
    height: 25rem;
    width: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__info {
    padding: 2rem;
    position: relative;
  }
  &__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    width: calc(100% - 4rem);
  }
  &__description {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  & .ratingholder {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}