*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.body {
    display: flex;
}

.main-content {
    flex: 1;
}

.container {
    max-width: 156rem;
    margin: 0 auto;
    display: block;
}

.container-small {
    max-width: 70rem;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(128deg, rgba(133,133,133,0.8) 0%, rgba(0,0,0,0.8) 100%);
}